<section class="exercises container">
  <div class="exercises-header">
    <div class="exercises-breadcrumbs">
      <button class="breadcrumb-home">
        <h2 class="exercises-title">Exercises</h2>
      </button>
      <span class="breadcrumb-divider">/</span>
      <span class="breadcrumb-current"></span>
    </div>
    <div class="filter-search-wrapper">
      <form class="form-search hide-show-transition hide" id="search-form">
        <label class="search-label" for="exercises-filter"></label>
        <input
          type="text"
          class="search-input hide"
          id="exercises-filter"
          placeholder="Search exercises..."
        />
        <button class="clear-search" type="button" aria-label="Clear search">x</button>
      </form>
    </div>
    <ul class="exercises-categories"></ul>
  </div>
  <div class="exercises-container">
    <load src="partials/quote.html" />

    <div class="exercises-content hide-show-transition">
      <div class="exercises-list"></div>
      <ul class="exercises-pagination"></ul>
    </div>
    <!-- Filtered Exercises dont remove its hidden unless clicked -->
    <div class="filtered-exercises-cards-wrapper hide-show-transition hide">
      <ul class="filtered-exercises-list"></ul>
      <div class="filtered-pagination"></div>
    </div>
    <!-- end Filtered exercises -->
  </div>
</section>
