<section class="exercises container">
  <div class="exercises-header">
    <h2 class="exercises-title">Exercises</h2>
    <ul class="exercises-categories"></ul>
  </div>

  <div class="exercises-container">
    <load src="partials/quote.html" />
    <div class="exercises-content">
      <div class="exercises-list"></div>
      <ul class="exercises-pagination"></ul>
    </div>
    <!-- Filtered Exercises dont remove its hidden unless clicked -->
    <div class="filtered-exercises-cards-wrapper hide">
      <ul class="filtered-exercises-list"></ul>
      <div class="filtered-pagination"></div>
    </div>
    <!-- end Filtered exercises -->
  </div>
</section>
