body {
  font-family: var(--main-font-family);
  font-size: 16px;
  color: var(--primary);
  background-color: var(--primary-light);
  line-height: 1.125;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  scrollbar-width: none;
}

.container {
  width: 100%;
  max-width: calc(var(--container-max-width) + var(--main-padding) * 2);
  margin: 0 auto;
  padding: 0 var(--main-padding);
}

.section {
  padding-bottom: 80px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: fit-content;
  outline: none;
  width: 100%;
  padding: 12px 24px;
  border-radius: 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3em;
  transition: var(--transition);
}

@media screen and (min-width: 768px) {
  .btn {
    font-size: 16px;
    line-height: 1.5em;
  }
}

.btn-primary {
  background-color: rgba(var(--rgba-light));
  border: 1px solid transparent;
  color: rgba(var(--rgba-black));
}

.btn-primary:hover {
  background-color: rgba(var(--rgba-black));
  border: 1px solid rgba(var(--rgba-light));
  color: rgba(var(--rgba-light));
}

.btn-secondary {
  background-color: rgba(var(--rgba-black));
  border: 1px solid rgba(var(--rgba-light));
  color: rgba(var(--rgba-light));
}

.btn-secondary:hover {
  background-color: rgba(var(--rgba-light));
  border: 1px solid transparent;
  color: rgba(var(--rgba-black));
}

.is-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  outline: transparent;
  outline-offset: 0;
  visibility: hidden;
  pointer-events: none;
  opacity: 0 !important;
}

.hidden {
  display: none;
}

.no-scroll {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .section {
    padding-bottom: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    padding-bottom: 150px;
  }
}

.exercise-modal-descr {
  max-height: 80px;
  overflow-y: auto;
  line-height: 1.3em;
}
.exercise-modal-descr p {
  font-size: 12px;
  line-height: 1.3em;
  font-weight: 400;
  text-overflow: clip;
}

.close-modal-btn {
  position: absolute;
  top: 14px;
  right: 14px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .close-modal-btn {
    top: 16px;
    right: 16px;
  }
  .exercise-modal-descr {
    max-height: 200px;
    overflow-y: auto;
    p {
      font-size: 12px;
      line-height: 1.5em;
    }
  }
}

.close-modal-icon {
  width: 24px;
  height: 24px;
  stroke: rgba(var(--rgba-light));
}

@media screen and (min-width: 768px) {
  .close-modal-icon {
    width: 28px;
    height: 28px;
  }
}

.modal-overlay {
  background-color: rgba(var(--rgba-black), 0.4);
  overflow-y: auto;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;

  opacity: 0;
  pointer-events: none;
  transition: var(--transition);
}

body.modal-open,
body.sidebar-open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;

  /* z-index: 9999; */
}

.modal-overlay.modal-open {
  opacity: 1;
  pointer-events: auto;
}
